{include file='public/header'/}
<body style="background-color: #393D49">
<div class="x-box">
    <!--<div class="x-top">-->
    <!--<i class="layui-icon x-login-close">-->
    <!--&#x1007;-->
    <!--</i>-->
    <!--<ul class="x-login-right">-->
    <!--<li style="background-color: #F1C85F;" color="#F1C85F">-->
    <!--</li>-->
    <!--<li style="background-color: #EA569A;" color="#EA569A">-->
    <!--</li>-->
    <!--<li style="background-color: #393D49;" color="#393D49">-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <div class="x-mid">
        <div class="x-avtar">
            <img src="__STATIC__/images/logo.png" alt="">
        </div>
        <div class="input">
            <form class="layui-form">
                <div class="layui-form-item x-login-box">
                    <label for="username" class="layui-form-label" style="padding: 9px 0px">
                        <i class="layui-icon">&#xe612;</i>
                    </label>
                    <div class="layui-input-inline" style="width: 320px">
                        <input type="text" id="username" name="username" required="" placeholder="用户名"
                               class="layui-input" style="margin-left: 10px">
                    </div>
                </div>
                <div class="layui-form-item x-login-box">
                    <label for="pass" class="layui-form-label" style="padding: 9px 0px">
                        <i class="layui-icon">&#xe628;</i>
                    </label>
                    <div class="layui-input-inline" style="width: 320px">
                        <input type="password" id="pass" name="password" required="" placeholder="密码"
                               class="layui-input" style="margin-left: 10px">
                    </div>
                </div>
                <div class="layui-form-item" id="loginbtn">
                    <button type="button" id="loginbtn" class="layui-btn" lay-filter="save" lay-submit="">
                        登 录
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<script src="_STATIC__/lib/layui/layui.js" charset="utf-8">-->
<!--</script>-->
<!--<script>-->
<!--layui.use(['form'],-->
<!--function () {-->
<!--$ = layui.jquery;-->
<!--var form = layui.form(),-->
<!--layer = layui.layer;-->

<!--$('.x-login-right li').click(function (event) {-->
<!--color = $(this).attr('color');-->
<!--$('body').css('background-color', color);-->
<!--});-->

<!--//监听提交-->
<!--// form.on('submit(save)',-->
<!--//     function (data) {-->
<!--//         console.log(data);-->
<!--//         layer.alert(JSON.stringify(data.field), {-->
<!--//             title: '最终的提交信息'-->
<!--//         }, function () {-->
<!--//             location.href = "./index.html";-->
<!--//         })-->
<!--//         return false;-->
<!--//     });-->

<!--});-->

<!--</script>-->
{include file='public/base_js'/}
<script>
    $(function () {
        $('#loginbtn').on('click', function () {
            $.ajax({
                type: "post",
                url: "{:url('login/check')}",
                data: $(".layui-form").serialize(),
                dataTypes: "json",
                success: function (data) {
                    if (data.status == 1) {
                        alert(data.message);
                        window.location.href = "{:url('index/index')}";
                    } else {
                        alert(data.message);
                        window.location.href = "{:url('login/index')}";
                    }
                }
            });
        });
    })
</script>
</body>

</html>