{include file='public/header'/}
<body>

<!-- header -->
<div class="header_box">
    <div class="header">
        <ul class="app-header">
            <li class="app-header-menuicon">
                <i class="layui-icon layui-icon-more-vertical"></i>
            </li>
        </ul>
        <h1 class="logo">
            <a href="#">logo</a>
        </h1>
        <div class="nav" style="visibility: visible">
            <a href="{:url('index/index')}">首页</a>
            <a href="{:url('cases/index')}" class="active">案例</a>
            <a href="{:url('service/index')}">服务</a>
            <a href="{:url('about/index')}">关于</a>
        </div>
        <ul class="layui-nav header-down-nav">
            <li class="layui-nav-item"><a href="{:url('index/index')}">首页</a></li>
            <li class="layui-nav-item"><a href="{:url('cases/index')}" class="active">案例</a></li>
            <li class="layui-nav-item"><a href="{:url('service/index')}">服务</a></li>
            <li class="layui-nav-item"><a href="{:url('about/index')}">关于</a></li>
        </ul>
    </div>
</div>
<!-- end-header -->


<!-- cases-content -->
<div class="case-content">
    <div class="banner">
        <div class="img-text">
            <img src="/static/index/images/al_img1.jpg" alt="">
            <h3>
                今日推荐
                <br><span>优秀案例</span>
            </h3>
        </div>
        <div class="img-text active">
            <img src="/static/index/images/al_img2.jpg" alt="">
            <h3>
                今日推荐
                <br><span>优秀案例</span>
            </h3>
        </div>
    </div>
    <div class="imgtext-flow">
        <div class="layui-fluid pb50">
            <div class="layui-row item-list-box layui-clear" id="item-list-box" style="margin:0">
            </div>
        </div>
    </div>
</div>
<!-- end cases-content -->
<!-- 模版引擎导入 -->

<script id="zonesTpl" type="text/html">

    <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
        <div class="item">
            <img src="<% d.images %>" alt="">
            <div class="item-text">
                <h3><% d.text %></h3>
                <span>2016/10/13</span>
            </div>
        </div>
    </div>

</script>


{include file='public/footer'/}


<script type="text/javascript">
    layui.config({
        base: '/static/index/js/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['common', 'flow', 'laytpl', 'element'], function () {
        var common = layui.common, flow = layui.flow, laytpl = layui.laytpl, element = layui.element, $ = layui.$;

        // 模版引擎导入
        var data = {
            "code": 0,
            "msg": "比喻",
            "last_page": 2,
            "list_page": 1000,
            "data": [
                {"text": "你好", "images": "/static/index/images/al_img3.jpg"},
                {"text": "你好", "images": "/static/index/images/al_img4.jpg"},
                {"text": "你好", "images": "/static/index/images/al_img5.jpg"},
                {"text": "你好", "images": "/static/index/images/al_img6.jpg"}
            ]
        };
        laytpl.config({
            open: '<%',
            close: '%>'
        });

        flow.load({
            elem: '#item-list-box'
            , isAuto: false
            , isLazyimg: true
            , mb: 100
            , done: function (page, next) {
                var lis = [];
                var getTpl = zonesTpl.innerHTML;
                var img = new Image();
                layui.each(data.data, function (index, item) {
                    laytpl(getTpl).render(item, function (html) {
                        lis.push(html);
                    });
                });
                // common.waterfall();
                if (page < data.data.last_page) {
                    next(lis.join(''), true);
                } else {
                    next(lis.join(''), false);
                }
                element.init()
            }
        })
        // window.onload = function(){
        //   common.waterfall();
        // }
        $('.app-header-menuicon').on('click', function () {
            $('.header-down-nav').toggleClass('down-nav')
        })
        $('.case-content .banner .img-text').on('click', function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active').siblings('.img-text').addClass('active')
            } else {
                $(this).addClass('active').siblings('.img-text').removeClass('active')
            }
        })
    });
</script>
</body>
</html>